{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Flack{% endblock %}

{% block content %}
<div class="no-channels h-100">
  {% if channel_not_exists %}
  <p>
    This channel does not exist. Would you like to
    <button class="text-button" id="create-inexistent-channel"
      data-channel-name="{{ channel_name }}">create it</button>
    instead?
  </p>
  {% else %}
  <p>
    Join a channel, or
    <button class="text-button" id="create-channel">create one</button>
    instead!
  </p>
  <form class="hidden" id="create-channel-form">
    <div class="form-group">
      <input type="text" class="form-control" id="channel-name" autofocus
        autocomplete="off" placeholder="Channel name">
      <small class="text-danger hidden" id="channel-name-taken">
        This channel name is already taken, please pick another one.
      </small>
    </div>
    <button type="submit" class="btn btn-primary btn-custom">
      Create channel
    </button>
  </form>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
