{% extends "layout.html" %}

{% block title %}Flack{% endblock %}

{% block content %}
  <div class="no-channels h-100">
    <p>
      Join a channel, or
      <button class="text-button" id="create-channel">create one</button>
      instead!
    </p>
    <form class="hidden" id="create-channel-form">
      <div class="form-group">
        <input type="text" class="form-control" id="channel-name" placeholder="Channel name">
        <small class="text-danger hidden" id="channel-name-taken">
          This channel name is already taken, please pick another one.
        </small>
      </div>
      <button type="submit" class="btn btn-primary btn-custom">Create channel</button>
    </form>
  </div>
{% endblock %}