{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/channel.css') }}">
{% endblock %}

{% block title %}{{ channel_name }} | Flack{% endblock %}

{% block content %}
<div class="channel-view h-100" id="channel-view" data-channel-name="{{ channel_name }}">

  <div class="row channel-header">
    <div class="col-12">
      <h5>#{{ channel_name }}</h5>
    </div>
  </div>

  <div class="row channel-body">
    <div class="col-12">
      <div class="d-flex flex-column justify-content-end h-100">
        <ul class="list-unstyled" id="messages">
        </ul>
      </div>
    </div>
  </div>

  <div class="row channel-footer">
    <div class="col-12">
      <form id="channel-message">
        <div class="input-group channel-message-group">
          <input type="text" class="channel-message-input" id="message"
            autocomplete="off" autofocus placeholder="Message #{{ channel_name }}">
          <div class="input-group-append">
            <button class="btn btn-outline-primary">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='socket.io/socket.io.slim.js') }}"></script>
<script src="{{ url_for('static', filename='js/channel.js') }}"></script>
{% endblock %}
