<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_custom.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  {% block styles %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="root">

    <div class="col-12 col-sm-10 col-lg-6 col-xl-4 hidden" id="display-name-view">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Welcome to Flack!</h5>
          <h6 class="card-subtitle mb-4 text-muted">
            The very best Slack clone written in Flask!
          </h6>
          <p>
            Join channels on Flack.<br>
            All you need is to select a display name!
          </p>
          <form id="form">
            <div class="form-group">
              <input type="text" class="form-control" id="display-name-input"
                autocomplete="off" autofocus placeholder="Display name">
            </div>
            <button type="submit" class="btn btn-primary btn-custom">
              Join channels
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="w-100 h-100 hidden" id="main-view">
      <div class="row no-gutters h-100">

        <div class="col-2 h-100">
          <div class="sidebar h-100 px-3 py-2">
            <h5><a href="{{ url_for('index') }}" id="home-link">Flack</a></h5>
            <p id="display-name"></p>

            <p class="channels">
              Channels
            </p>
            <ul class="list-unstyled">
              {% for channel_name in channel_names %}
              <li class="channel">
                <a href="{{ url_for('channel', channel_name=channel_name) }}">
                  {{ channel_name }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="col h-100">
          <div class="content h-100">
            {% block content %}{% endblock %}
          </div>
        </div>

      </div>
    </div>

  </div>

  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>

</html>
